html, body {
	height: 100%;
	width: 100%;
    background-color: cadetblue;
    font-family: Raleway, GEorgia, sans-serif;
    padding: 0;
}

body {
	align-items: center;
}

.crudApp {    
        border: 0px;
        margin-left: 20px;
        padding-left: 10px;
}

.btn {
    width: 100px;
    height: 50px;
    background: lightgreen;
    border: 2px solid darkblue;
    margin: 10px;
    margin-bottom: 20px;
}

.grid, input {
    background: lightgreen;
    /*display: inline-block;*/
    border: 2px solid darkblue;
    padding: 5px;
    margin: 10px;
}

td {
    border: 2px solid darkblue;
}


/* user actions */
.whenClickOnkStyle {
    background-color: red;
}

.hiddenStyle {
    display: none;
}